.cMod {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cModContent {
  padding: 25px;
  background-color: white;
  border-radius: 1rem;
  min-width: 15.625rem;
}