.post {
  display: flex;
  padding: 15px;
  border: 2px solid black;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;

  &__content {
    
  }
  &__btns {
    display: flex;
    flex-direction: column;

    button {
      margin: 5px 0;
    }
  }

  &-enter {
    transform: translateX(-350px);
    &-active {
      transform: translateX(0px);
      transition: all 500ms ease-in;
    }
  }
  
  &-exit {
    opacity: 1;
    
    &-active {
      transform: translateX(-350px);
      transition: all 500ms ease-in;
    }
  } 
}